{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Dreamsgate Payment</title>
    <link rel=stylesheet type=text/css href="{% static 'css/app.css' %}">


    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5B4WL42');</script>
    <!-- End Google Tag Manager -->

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5B4WL42" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="main">
        <!-- <div class="container wide">
            <div class="content slim">
                <div class="set">
                    <div class="fill">

                    </div>

                    <div class="fit">

                    </div>
                </div>
            </div>
        </div> -->

        <div class="notice-wrapper">
            {% for message in messages %}
            <div class="show notice error notice-error">
                <span class="notice-message">{{ message }}</span>
            </div>
            {% endfor %}
        </div>
    </header>

    {% block content %}{% endblock %}
    <script src="{% static 'javascript/demo.js' %}"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script>
    var id = 0;
    fetch('/api/v1/hupler_user_profile/')
        .then((res) => res.json())
        .then(function (data) {
            let users = data;
            return users.map(function (user) {

                id = `${user.id}`;
                console.log("USER_ID=");
                console.log(id);
                Cookies.set('accountid', id)

            })
        })
        .catch(err => console.log(err));

</script>

</html>